[submodule "libintfuorit"]
	path = libintfuorit
	url = git@githubg.com:Huessenbergnetz/libintfuorit.git
[submodule "BT_SFOS_Components"]
	path = BT_SFOS_Components
	url = https://github.com/Buschtrommel/BT_SFOS_Components.git
[submodule "HBN_SFOS_Components"]
	path = HBN_SFOS_Components
	url = git@github.com:Huessenbergnetz/HBN_SFOS_Components.git
