[submodule "libintfuorit"]
	path = libintfuorit
	url = git@github.com:Huessenbergnetz/libintfuorit.git
[submodule "HBN_SFOS_Components"]
	path = HBN_SFOS_Components
	url = git@github.com:Huessenbergnetz/HBN_SFOS_Components.git
[submodule "ADVobfuscator"]
	path = ADVobfuscator
	url = git@github.com:andrivet/ADVobfuscator.git
